<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个程序员，咿呀咿呀哟！</p>

        <p>
          <strong>欢迎打赏</strong>：<a href="https://www.trisonlu.com/assets/images/payme20180926104323.jpg" target="_blank">舍予堇力（ID：trisonlu）</a>，欢迎关注
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <!--<li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>-->
            <li>Csdn：<a href="{{ site.csdn_url }}">{{ site.csdn_url }}</a></li>
            <!--<li>我的微信：<strong>trisonlu</strong></li>-->
        </ul>

       <h2>
         Note
       </h2>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
